
## export functions
export(
  as.marssm,
  checkPopWrap,
  CSEGriskfigure,
  CSEGtmufigure,
  is.marssm,
  is.marssMLE,
  marssm,
  MARSS,
  MARSSaic,
  MARSSapplynames,
  MARSSboot,
  MARSScheckdims,
  MARSScheckpar,
  MARSShessian,
  MARSSinits,
  MARSSinnovationsboot,
  MARSSkem,
  MARSSkemcheck,
  MARSSkf,
  MARSSLLprofile,
  MARSSmcinit,
  MARSSoptim,
  MARSSoptions,
  MARSSparamCIs,
  MARSSresids,
  MARSSsimulate,
  MARSSvectorizeparam,
  popWrap
)

## register S3 methods
S3method(print, marssm)
S3method(summary, marssm)
S3method(print, marssMLE)
S3method(summary, marssMLE)

## Imports
importFrom(MASS, mvrnorm)
importFrom(mvtnorm, rmvnorm)


